<?xml version="1.0"?>
<config>
    <modules>
        <MageNet_Eav>
            <version>1.0.0.0</version>
        </MageNet_Eav>
    </modules>
    <global>
        <blocks>
            <magenet_eav>
                <class>MageNet_Eav_Block</class>
            </magenet_eav>
        </blocks>
        <models>
            <magenet_eav>
                <class>MageNet_Eav_Model</class>
                <resourceModel>magenet_eav_resource</resourceModel>
            </magenet_eav>
            <magenet_eav_resource>
                <class>MageNet_Eav_Model_Resource</class>
                <entities>
                    <post_entity>
                        <table>magenet_eav_post_entity</table>
                    </post_entity>
                    <post_entity_datetime>
                        <table>magenet_eav_post_entity_datetime</table>
                    </post_entity_datetime>
                    <post_entity_decimal>
                        <table>magenet_eav_post_entity_decimal</table>
                    </post_entity_decimal>
                    <post_entity_int>
                        <table>magenet_eav_post_entity_int</table>
                    </post_entity_int>
                    <post_entity_text>
                        <table>magenet_eav_post_entity_text</table>
                    </post_entity_text>
                    <post_entity_varchar>
                        <table>magenet_eav_post_entity_varchar</table>
                    </post_entity_varchar>
                    <post_entity_char>
                        <table>magenet_eav_post_entity_char</table>
                    </post_entity_char>
                </entities>
            </magenet_eav_resource>
        </models>
        <helpers>
            <magenet_eav>
                <class>MageNet_Eav_Helper</class>
            </magenet_eav>
        </helpers>
        <resources>
            <magenet_eav_setup>
                <setup>
                    <module>MageNet_Eav</module>
                    <class>MageNet_Eav_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magenet_eav_setup>
            <smagenet_eav_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </smagenet_eav_write>
            <magenet_eav_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magenet_eav_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <magenet_eav>
                <use>standard</use>
                <args>
                    <module>MageNet_Eav</module>
                    <frontName>blog</frontName>
                </args>
            </magenet_eav>
        </routers>
        <layout>
            <updates>
                <magenet_eav>
                    <file>magenet/eav/layout.xml</file>
                </magenet_eav>
            </updates>
        </layout>
    </frontend>
</config>
